result.*
result*
result-scrape-lembaga-kementrian
results-scrape-bumn
output.*
output.txt
.venv
.venv/*
dock
dock/*
cve-list\*
chrome_profile
chrome_profile/*
experimental\*
experimental\PRIORITY_ENDPOINTS.txt
experimental\PRIORITY_ENDPOINTS.txt*
endpoint_patch_priority.*
*/PRIORITY_ENDPOINTS.*
*/PRIORITY_PATCH_SERVERS.*
**/PRIORITY_ENDPOINTS.*
**/PRIORITY_PATCH_SERVERS.*
PRIORITY_PATCH_SERVERS*
PRIORITY_ENDPOINTS*
PRIORITY_PATCH_SERVERS.*
PRIORITY_ENDPOINTS.*
*/PRIORITY_PATCH_SERVERS*
*/PRIORITY_ENDPOINTS*

*.xlsx
*.csv

*/.xlsx
*/.csv

**/.xlsx
**/.csv