result.*
result*
result-scrape-lembaga-kementrian
results-scrape-bumn
output.*
output.txt
.venv
.venv/*
dock
dock/*
chrome_profile
chrome_profile/*
PRIORITY_PATCH_SERVERS*
PRIORITY_ENDPOINTS*
PRIORITY_PATCH_SERVERS.*
PRIORITY_ENDPOINTS.*
*/PRIORITY_PATCH_SERVERS*
*/PRIORITY_ENDPOINTS*